{% extends 'base.html.twig' %}

{% block title %}BTS-SIO Poursuite D'Études{% endblock %}

{% block main %}
    <div class="text-center" style="color: white">
        <h1 style="text-shadow: 0 0 5px #000000;">Bienvenue sur la page de poursuite d'étude du site</h1>
        <div style="height: 20vh"></div>
        <h1 style="font-size: 150pt;text-shadow: 0 0 5px #000000;">POURSUITE</h1>
    </div>


{% endblock %}


