{% extends 'base.html.twig' %}

{% block title %}BTS-SIO Poursuite D'Études{% endblock %}

{% block main %}
    <div class="text-center" style="color: white">
        <h1 style="text-shadow: 0 0 5px #000000;">Bienvenue sur la page de poursuite d'étude du site</h1>
        <div style="height: 5vh"></div>
        <h1 style="font-size: 120pt;text-shadow: 0 0 5px #000000;">POURSUITE</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p style="font-size: 20pt;text-shadow: 0 0 5px #000000; color: white" class="text-left">La poursuite d’études après un BTS SIO : pour plus de compétences et de responsabilités

                    Première chose à savoir : le Brevet de technicien supérieur Services Informatiques aux Organisations est très professionnalisant.

                    Après un bac général, bac technologique ou bac professionnel, celui-ci vous donne toutes les clés pour travailler dans l’administration réseau ou le développement web. Oui, vous l’aurez compris, des domaines avec des débouchés très importants !

                    Toutefois, bien que ce bac+2 reconnu par l’État vous permette de vous engager en tant que professionnel directement à son issue, le BTS informatique vous donne accès aux bac +3 !</p>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <img src="/assets/debouch.png" alt="debouchés">
            </div>
        </div>
    </div>



{% endblock %}


