{% extends 'base.html.twig' %}

{% block title %}BTS-SIO Accueil{% endblock %}

{% block main %}
    <div class="text-center" style="color: white">
        <h1 style="text-shadow: 0 0 5px #000000;">Bienvenue sur la page d'accueil du site</h1>
        <div style="height: 5vh"></div>
        <h1 style="font-size: 120pt;text-shadow: 0 0 5px #000000;">BTS SIO</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-5">
                <p style="font-size: 20pt;text-shadow: 0 0 5px #000000; color: white" class="text-left">Pourquoi avoir choisi le BTS SIO ? ... J'ai choisi ce BTS car il est généraliste et complet. En effet, il permet d'acquérir des bases solides sur les connaissances nécessaires à tout informaticien : programmation, algorithmique, bases de données, réseaux, architecture matérielle et logicielle, etc..</p>
            </div>
            <div class="col-2">
            </div>
            <div class="col-5">
                <img class="img-thumbnail" src="/assets/code.jpg" alt="code" style="height: 45vh; border: 5px;"/>

            </div>
        </div>
    </div>

{% endblock %}
