<!doctype html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/all.css">

    <title>{% block title %}BTS-SIO{% endblock %}</title>
</head>
<body style="background-image: url(/assets/fond.jpg); background-size: cover; background-repeat: no-repeat; background-position: center">
{{ include('header.html.twig') }}

<main role="main" class="container">
    {% block main %}
    {% endblock %}
</main>

{{ include('footer.html.twig') }}

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>