<footer class="text-grey-50 fixed-bottom" style="background-color:#a7c9dc;">
    <div class="container text-center">
        <p style="font-size: small">Voici le site d'apprentissage de Symfony réalisé par Thibault Blondel</p>
        <small> &copy; 2020 BTS-SIO</small>
    </div>
</footer>