<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color:#a7c9dc">
    <a class="navbar-brand" href="/accueil">Accueil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/presentation">Présentation</a>
            <a class="nav-item nav-link" href="/specialites">Spécialités</a>
            <a class="nav-item nav-link" href="/stage">Stages</a>
            <a class="nav-item nav-link" href="/poursuite">Poursuite d'études</a>
        </div>
    </div>
</nav>
